<div class="box">
	<%= link_to (image_tag project.image(:medium)), project %>
	<p class="description">
		<%= project.description %>
	</p>
	<p>
		<strong>
			Posted by <%= link_to project.user.name, project.user %>
		</strong>
	</p>
	<% if current_user == project.user %>
			<p>
			    <%= link_to 'Edit', edit_project_path(project) %>
			    <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
			</p>
		  <% end %>
</div>
